<div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)='irInicio();' >
      <ion-label>Inicio</ion-label>
      <ion-icon color="primary" name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)='irNovedades();' >
      <ion-label>Novedades</ion-label>
      <ion-icon color="primary" name="color-wand"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)='irPromociones();'>
      <ion-label>Promociones</ion-label>
      <ion-icon color="primary" name="gift"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)='irMas();'>
      <ion-label>Más</ion-label>
      <ion-icon color="primary" name="add-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</div>