ion-card-content{
    width: 95%;
    margin: 1rem auto !important;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ion-card{
    width: 90%;
    height: 90%;
    margin: 0.5rem auto;
    align-items: center;
    align-content: center;
}

ion-card-title{
    text-align: center;
    margin: 0.5rem auto;
    width: 90%;
    color: #3880ff;
    font-size: 14pt;
}
ion-button{
    width: 80%;
    margin: 0px auto;
}

h1{
    text-align: center;
}
