ion-label{
    margin: 2rem auto !important;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
table{
    margin: 1rem auto;
}
td{
    margin: 1rem 0.5rem;
    width: 86px;
    border: 0.5px solid black;
}