ion-grid{
    margin-top: 1rem;
}

ion-item{
    width: 95%;     
    height: auto;
    ion-label{
        font-size: 14pt !important;
    }    
    ion-input{
        font-size: 13pt;
    }
    ion-select{
        font-size: 13pt;
    }
}

ion-button{
    width: 80%;
    margin: 2rem auto;
}

p{
    color: #3880ff;
    margin-left: 1rem;
}

.error-message{
    color: red;
}

div{
   margin-left: 2rem;
}