<div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)='irMenu();' >
      <ion-label>Productos</ion-label>
      <ion-icon color="primary" name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)='irTransferencias();' >
      <ion-label>Transferencias</ion-label>
      <ion-icon color="primary" name="color-wand"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)='irPagos();'>
      <ion-label>Pagos</ion-label>
      <ion-icon color="primary" name="gift"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)='irMas();'>
      <ion-label>Más</ion-label>
      <ion-icon color="primary" name="add-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</div>
