<app-header></app-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <form [formGroup]="formTransferir" (ngSubmit)="debitar()" class="ion-no-padding">
          <ion-item>
            <ion-label position="stacked">
              CUENTA ORIGEN
            </ion-label>
            <ion-select class="custom-options" 
                        (ionChange)= "valor($event.target.value)"
                          formControlName ="cuenta_origen"
                          placeholder='Seleccionar'>
                          <ion-select-option *ngFor="let item of cuentas" value={{item.numero_cuenta}}>{{item.alias}}</ion-select-option>
              </ion-select>
          </ion-item>
          <div *ngFor="let error of errorMensaje.cuenta_origen">
            <ng-container *ngIf="cuenta_origen.hasError(error.type) && (cuenta_origen.dirty || cuenta_origen.touched)">
              <small class="error-message">{{error.message}} </small>
            </ng-container>            
          </div>
          <ion-item *ngFor="let item of cuentaTercero">
            <ion-label position="stacked">
              CUENTA DESTINO
            </ion-label>
            <ion-label position="stacked" >
              Destino: {{item.alias}}
            </ion-label>
            <ion-label position="stacked" >
              Banco:  {{item.nombre_banco}}
            </ion-label>
            <ion-label position="stacked" >
              Cuenta:  {{item.numero_cuenta}}
            </ion-label>          
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              VALOR A TRANSFERIR
            </ion-label>
            <ion-input inputmode="numeric"
                        type= "number"
                        formControlName ="monto">
            </ion-input>
          </ion-item>
          <div *ngFor="let error of errorMensaje.monto">
            <ng-container *ngIf="monto.hasError(error.type) && (monto.dirty || monto.touched)">
              <small class="error-message">{{error.message}} </small>
            </ng-container>            
          </div>
          <ion-button expand="block" shape="round" type="submit" color="primary" [disabled]="!formTransferir.valid">
            Transferir
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-fotter-interno></app-fotter-interno>
